doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='../public/css/style.css')
  title FR Web Desgin || Clients
// START Navigation
.topnav.fixed-top
  a.navbar-brand(href='index') First Response Web Desgin
  .topnav-right
    span.menu(style='font-size:30px;cursor:pointer;color:white;', onclick='openNav()') &#x2630;
#myNav.overlay
  a.closebtn(href='javascript:void(0)', onclick='closeNav()') &times;
  .overlay-content
    a(href='index') Home
    a(href='about') Why Our Sites
    a(href='client') Our Clients
    a(href='service') Services
    a(href='contact') Contact
// END Navigation
br
br
br
.jumbotron.bg-blk
  .container.text-center
    h1.display-4 Want to see some examples?
    p.lead
      | Here are some of our happy clients!
    p.lead
      | As you can tell there are not alot of things to show. You can help that! With your help I can promote your website here and you can get your business off of facebook and fill out this page!
    p.lead
      a.btn.btn-primary.btn-lg(href='contact', role='button') Contact Us
.footer.fixed-bottom
  h6
    | First Response Web Designs | &copy; Copyright 2018 | All Rights Reserved 
    a.social(href='https://www.facebook.com/FRWebDesigns')
      i.fa.fa-facebook-official(aria-hidden='true')

// Optional JavaScript
script.
  function openNav() {
  document.getElementById("myNav").style.height = "100%";
  }
  function closeNav() {
  document.getElementById("myNav").style.height = "0%";
  }
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')
script.
  function openNav() {
  document.getElementById("myNav").style.height = "100%";
  }
  function closeNav() {
  document.getElementById("myNav").style.height = "0%";
  }
