doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.12/css/all.css' integrity='sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='public/css/style.css')
  title F-R Web Designs|Home
nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand.font-weight-bold(href='index')
    span.text-danger First
    |          Response Web Desgins
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.justify-content-center
      li.nav-item
        a.active1.text-danger.nav-link(href='index') Home
      li.nav-item
        a.nav-link(href='port') Portfolio
      li.nav-item
        a.nav-link(href='service') Services
      li.nav-item
        a.nav-link(href='contact') Contact Me
#arouselExampleIndicators.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#arouselExampleIndicators' data-slide-to='0')
    li(data-target='#arouselExampleIndicators' data-slide-to='1')
  .carousel-inner
    .carousel-item.active
      img.d-block.w-100(src='public/img/demo6.jpg' alt='First slide')
      .carousel-caption
        h1.display-2 Web Designs
        h3 Complete Website Design
        h4 From Front End ...
    .carousel-item
      img.d-block.w-100(src='public/img/demo3.jpg' alt='Second slide')
      .carousel-caption
        h1.display-2 Web Designs
        h3 Complete Website Design
        h4 ... To Back End
.container-fluid.padding
  .row.welcome.text-center
    .col-12
      h1.display-4 Built with Style!
    hr.my-4
    .col-12
      p.lead
        | With the powerful tools of Bootstrap, CSS, and HTML there are no limits! If you can inmagine it, we can build it! Stay a step ahead of your competitors with these up to date designs!
.container-fluid.padding
  .row.text-center.padding
    .col-xs-12.col-sm-6.col-md-4
      i.fab.fa-html5
      h3 HTML 5
      p Built with the latest verison of HTML, HTML5
    hr.my-4
    .col-xs-12.col-sm-6.col-md-4
      i.fab.fa-css3-alt
      h3 CSS
      p Built with the latest verison of CSS, CSS3
    .col-sm-12.col-md-4
      i.fas.fa-bold
      h3 BOOTSTRAP
      p Built with the latest verison of Bootstrap, Bootstrap4
  hr.my-4
.container-fluid.padding
  .row.text-center.padding
    .col-12
      h2 Connect
    .col-12.social.padding
      a(href='https://www.facebook.com/FRWebDesigns' target="_blank")
        i.fab.fa-facebook
      //
        <a href="https://www.youtube.com/channel/UCzEV6Rbxh2bFcKbqgZUem5Q"><i class="fab fa-youtube"></i></a>
        <a href="https://www.instagram.com/outlaws_public_safety_football/"><i class="fab fa-instagram"></i></a>
// ***************************FOOTER***********************************
footer.fixed-bottom
  p First Response Web Designs, Copyright &copy; 2018
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
