doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', href='../public/css/style.css')
  title FR Web Desgin || Home
// START Navigation
.topnav.fixed-top
  a.navbar-brand(href='index') First Response Web Desgin
  .topnav-right
    span.menu(style='font-size:30px;cursor:pointer;color:white;', onclick='openNav()') &#x2630;
#myNav.overlay
  a.closebtn(href='javascript:void(0)', onclick='closeNav()') &times;
  .overlay-content
    a(href='index') Home
    a(href='about') Why Our Sites
    a(href='client') Our Clients
    a(href='service') Services
    a(href='contact') Contact
// END Navigation
.parallax1
  .ptext
    span.border
      | better your business
      span.hide  today
      | !
section.section.section-dark
  h2
    i.fa.fa-star(aria-hidden='true')
    a.special(href='service') SPECIAL OFFER!
    i.fa.fa-star(aria-hidden='true')
  hr
  h5
    | For a Limited time only the first 10 people get your Tier 1 Website hosted for one year at no cost! If you are just getting into the digital world of website then this offer is for you! This
    | Tier is a great transition from facebook, and most importantly they can work insync with eachother! With this Low cost web design, free domain name for 1 year
    | AND get your website hosted for you for free! This is a deal you can not pass up! Normal Website designers would charge you a TON for such a basic packaged
    | deal! But with us we want to help you succeed in this competive online world!
.parallax2
  .ptext
    span.border
      | Front to Back Designs
section.section
  h2 WEBSITE DESGIN START TO FINISH
  h5
    | We are here for one reason. That reason is to help others start their careers and make their footprint in this massive digital world. Our #1 goal is to
    | help YOU succeed is this competitive online world. Starting up may seem very intimidating but we will work with from the start of your first contact till
    | you no longer need us!
.parallax3
  .ptext
    span.border
      span.hide Together
      |  we can make it happen
.footer.fixed-bottom
  h6
    | First Response Web Designs | &copy; Copyright 2018 | All Rights Reserved 
    a.social(href='https://www.facebook.com/FRWebDesigns')
      i.fa.fa-facebook-official(aria-hidden='true')

// Optional JavaScript
script.
  function openNav() {
  document.getElementById("myNav").style.height = "100%";
  }
  function closeNav() {
  document.getElementById("myNav").style.height = "0%";
  }
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')
