doctype 
html
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.12/css/all.css' integrity='sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9' crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' href='public/css/style.css')
    title F-R Web Designs|Portfolio
  nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand.font-weight-bold(href='index')
      span.text-danger First
      |          Response Web Desgins
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.justify-content-center
        li.nav-item
          a.nav-link(href='index') Home
        li.nav-item
          a.active1.text-danger.nav-link(href='port') Portfolio
        li.nav-item
          a.nav-link(href='service') Services
        li.nav-item
          a.nav-link(href='contact') Contact Me
  .container-fluid.padding
    .row.welcome1.text-center
      .col-12
        h1.display-4 WELCOME TO MY PORTFOLIO!
      hr.my-4
      .col-12
        p.lead
          | Here are a few of the webistes we have done! Please feel free to go and check them out!
          p.text-muted
            | As you can see we are just starting out so there may not be any websites to preview
  .container-fluid
    .row.align-items-center
      .col
      .col
        h1 Your Website Name Here
        a(href='#')
          img.rounded.d-block.w-100(src='public/img/demo1.jpg' alt='')
      .col
      .col
        h1 Your Website Name Here
        a(href='#')
          img.rounded.d-block.w-100(src='public/img/demo1.jpg' alt='')
      .col
    br
    .row.align-items-center
      .col
      .col
        h1 Your Website Name Here
        a(href='#')
          img.rounded.d-block.w-100(src='public/img/demo1.jpg' alt='')
      .col
      .col
        h1 Your Website Name Here
        a(href='#')
          img.rounded.d-block.w-100(src='public/img/demo1.jpg' alt='')
      .col
    br
    // COPY START FOR NEW ROW
    .row.align-items-center
      .col
      .col
        h1 Your Website Name Here
        a(href='#')
          img.rounded.d-block.w-100(src='public/img/demo1.jpg' alt='')
      .col
      .col
        h1 Your Website Name Here
        a(href='#')
          img.rounded.d-block.w-100(src='public/img/demo1.jpg' alt='')
      .col
    // COPY END FOR NEW ROW
br
br
br
br
br

// ***************************FOOTER***********************************
footer.fixed-bottom
  p First Response Web Designs, Copyright &copy; 2018
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
