doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB' crossorigin='anonymous')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.12/css/all.css' integrity='sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9' crossorigin='anonymous')
  link(rel='stylesheet' type='text/css' href='public/css/style.css')
  title F-R Web Designs|Services
nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand.font-weight-bold(href='index')
    span.text-danger First
    |          Response Web Desgins
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav.justify-content-center
      li.nav-item
        a.nav-link(href='index') Home
      li.nav-item
        a.nav-link(href='port') Portfolio
      li.nav-item
        a.active1.text-danger.nav-link(href='service') Services
      li.nav-item
        a.nav-link(href='contact') Contact Me
.container-fluid.padding
  .row.welcome1.text-center
    .col-12
      h1.display-4 Our Services!
    hr.my-4
    .col-12
      h5
        | Need an affordable website at an affordable price?! You have came to the right place! We build the front 
        span.text-secondary (UI-User Interface)
        |         and back 
        span.text-secondary (server side)
        |  end parts of websites for low cost/payments!
.row.container-fluid
  .col-md-3.col-sm-2.col-xs-1
  .col-md-6.col-sm-8.col-xs-10
    .card.text-center
      .card-header
        h3
          | Tier 1: Basic 
          span.text-muted (static)
          |  Web Development
      .card-body
        p.card-text
          ul.list1
            li Up to 5 Pages
            li 1 Contact Form
            li Basic/Simple Web Desgin
            li
              | Responsive web design 
              br
              | (Computer/Tablet/Moblie friendly)
        br
        a.btn.btn-success(href='contact.html') CONTACT ME!
      .card-footer
        p.card-text $149.99 - $249.99 Onetime Fee
  .col-md-3.col-sm-2.col-xs-1
br
// COPY START FOR NEW ROW
.row.container-fluid
  .col-md-3.col-sm-2.col-xs-1
  .col-md-6.col-sm-8.col-xs-10
    .card.text-center
      .card-header
        h3
          | Tier 2: Advance 
          span.text-muted (dynamic)
          |  Web Development
      .card-body
        p.card-text
          ul.list1
            li Up to 10 Pages
            li Up to 3 Forms
            li Advance Web Desgin
            li
              | Responsive web design 
              br
              | (Computer/Tablet/Moblie friendly)
        br
        a.btn.btn-success(href='contact.html') CONTACT ME!
      .card-footer
        p.card-text $249.99 - $349.99 Onetime Fee
  .col-md-3.col-sm-2.col-xs-1
    
br
.row.container-fluid
  .col-md-3.col-sm-2.col-xs-1
  .col-md-6.col-sm-8.col-xs-10
    .card.text-center
      .card-header
        h3
          | Web Hosting
      .card-body
        p.card-text
          ul.list1
            li Worried about how to make your website go live so people can see it?
            li Don't worry at all because we got you covered!
        br
        a.btn.btn-success(href='contact.html') CONTACT ME!
      .card-footer
        p.card-text $39.99 Monthly Fee
  .col-md-3.col-sm-2.col-xs-1
br
.row.container-fluid
  .col-md-3.col-sm-2.col-xs-1
  .col-md-6.col-sm-8.col-xs-10
    .card.text-center
      .card-header
        h3
          | Domain Name/Website URL
      .card-body
        p.card-text
          ul.list1
            li Not sure where to go to get your website Domain/URL?
            li Don't sweat it because we can get it for you!
        br
        a.btn.btn-success(href='contact.html') CONTACT ME!
      .card-footer
        p.card-text $4.99 Monthly Fee
  .col-md-3.col-sm-2.col-xs-1
br
br
br
br
br
br
// ***************************FOOTER***********************************
footer.footer.fixed-bottom
  p First Response Web Designs, Copyright &copy; 2018
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js' integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T' crossorigin='anonymous')
